.Navbar {
    width: 100%;
    height: 5rem;
    padding: 0.5rem 0;
    background-color: #1C3643;
    display: block;
  }
.Navbar_container{
  height: 60px;
}
  .Navbar__brand {
    color: #ffffff;
  
    display: flex;
    align-items: center;
  }
  
  .Navbar__brand:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  .Navbar__brand-logo {
    margin-right: 0.5rem;
    max-width: 10rem;
    /* max-height: 10rem; */
    width: inherit;
    height: inherit;
  }
.containernav{
  align-items: center;
  justify-content: center;
  padding: inherit 5rem;
}

.logout{
  padding: 0;
  border: none;
  background: none;
  color: #ffffff;
}